html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* *::before *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'Gilroy';
    src: url(fonts/Gilroy-Bold.woff);
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
    
    @font-face {
        font-family: 'Gilroy';
        src: local('Gilroy'), url('fonts/Gilroy-Bold.woff2') format('woff2');
        font-style: italic;
        font-weight: normal;
        font-display: swap;
    }

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'Gilroy', sans-serif;
}

p {
    margin: 0;
}

.flex {
    display: flex;
}

.container {
    width: 950px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_title {
    margin: 0;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.header_nav_ul {
    margin-top: 22px;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    padding-bottom: 20px;
    margin-bottom: 32px;
}

.nav_links {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    padding: 0 30px;
    transition: 200ms;
}

.nav_links:hover {
    color: black;
}

/* Хоме */

.home {
    justify-content: space-between;
}

.home_info {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.home_discrep {
    margin-left: 50px;
    margin-bottom: 40px;
}

.obo-mne_descr {
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.title-obo-mne{
    margin: 0; 
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.about_me_discr {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.obomne-item {
    margin-bottom: 10px;
}

.alina_foto {
    margin-right: 50px;
    width: 400px;
    object-fit: contain;
    object-position: 60% center;  
    border-radius: 15px;
}

/* Навыки */

.title__skills {
    margin-top: 91px;
    margin-bottom: 70px;
}

.title_discr_skills {
    margin-bottom: 80px;
    text-align: center;
}

.skills_programms {
    justify-content: space-between;
}

.programm {
    margin-bottom: 111px;
}

.programm_img {
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_adobe {
    height: 100px;
    width: 100px;
}

.img_ofiice {
    width: 110px;
    height: 110px;
}

.programm_discr {
    text-align: center;
    width: 80px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 30px;  
}

.reting_stars_block {
    justify-content: space-between;
}

/* Портфоило */

.portfolio {
    padding: 0;
    padding-top: 111px;
    padding-bottom: 50px;
    min-width: 100%;
    background-color: #F6F6F6;
}

.section_title_portfolio {
    margin-bottom: 47px;
}

.bloc_portfollio {
    margin: 0 auto;
    max-width: 950px;
    text-align: center;
    margin-bottom: 50px;
}

.kniga_1 {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-img_1 {
    background-image: url(../img/IMG_9189.jpg);
    background-position: center center;
}

.background-img_1-1 {
    background-image: url(../img/IMG_9192.jpg);
    background-position: center center;
}

.background-img_2 {
    background-image: url(../img/photo_2022-04-27_14-55-10.jpg);
    background-position: center center;
}


.background-img_3 {
    background-image: url(../img/photo_2022-04-27_14-55-11.jpg);
    background-position: center center;
}

.background-img_4 {
    background-image: url(../img/photo_2022-04-27_14-55-18.jpg);
    background-position: center center;
}

.linkssasd {
    display: inline-block;
    margin-top: 330px;
    transition: 300ms;
}

.linkssasd:hover {
    transform: scale(0.8);
}

.link_project {
    height: 35px;
    padding: 10px;
    margin: 0;
    margin-top: 200px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    transition: 200ms;
}


/* Контакты */

.social {
    padding-top: 115px;
    padding-bottom: 70px;

}

.section_title_contacts {
    margin-bottom: 20px;
}

.title_descr_contacts {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    margin-bottom: 30px;
    text-align: center;
}

.link_mailto {
    text-align: center;
    margin-bottom: 90px;
}

.link_mail {
    text-decoration: none;
    width: 180px;
    color: white;
    text-align: center;
    padding: 13px 30px;
    border-radius: 25px;
    background-color: #070707;
}

.contacts_social {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    justify-content: space-between;
}

.socila_links_img {
    width: 40px;
    height: 40px;
}

.vk-link-social {
    width: 50px;
    height: 50px;
}

.text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
